.masked-title {
    font-family: var(--font-heading);
    font-weight: var(--wght-bold);
    font-size: 8rem;
    text-align: center;
    line-height: 1;
    margin-bottom: 2rem;
    overflow: hidden;
    color: var(--color-black);
  }
  
  .mask {
    display: inline-block;
    overflow: hidden;
  }
  
  .title-text {
    display: inline-block;
  }
  