.who-are-we_wrapper {
  color: var(--color-ink);
  font-weight: var(--wght-medium);
  font-size: 2rem;
  line-height: 1.2;
}

/* The only remaining full section */
.who-are-we_scroll-container {
  height: 200vh;
  position: relative;
}

.who-are-we_sticky-inner {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; /*  make children stack vertically */
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.who-are-we_split-text {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}

.split-text {
  display: inline-block;
  opacity: 0;
  margin-right: 12px;
  margin-top: 12px;
  white-space: pre;
}

.about-us-mask-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
